<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.RealTimeRegionDataMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.RegionData">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id" jdbcType="INTEGER"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="zoneId" column="zone_id" jdbcType="INTEGER"/>
        <result property="waterTemperature" column="water_temperature" jdbcType="FLOAT"/>
        <result property="ph" column="ph" jdbcType="FLOAT"/>
        <result property="cod" column="cod" jdbcType="FLOAT"/>
        <result property="nh3" column="nh3" jdbcType="FLOAT"/>
        <result property="conductivity" column="conductivity" jdbcType="FLOAT"/>
        <result property="turbidity" column="turbidity" jdbcType="FLOAT"/>
        <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, zone_id, water_temperature, ph, cod, nh3, conductivity, turbidity, send_time
   </sql>
    <select id="queryTodayMessage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from region_data
        where zone_id=#{zoneId} and
        to_days(send_time) = to_days(now());
    </select>
</mapper>
