<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.UserMapper">
    <select id="login" resultType="User">
        select * from example_user
        where user_name=#{userName} and password=#{password}
    </select>

    <select id="getUserPassword" resultType="String">
      select password from usertb
      where user_phone=#{phone}
    </select>

    <update id="updatePassword">
        update usertb
        set password=#{password}
        where user_phone=#{phone}
    </update>
</mapper>
