<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.User">
        <!-- 用id属性来映射主键字段 -->
        <id property="id" column="id" jdbcType="INTEGER"/>
        <!-- 用result属性来映射非主键字段 -->
        <result property="userPhone" column="user_phone" jdbcType="INTEGER"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="zoneId" column="zone_id" jdbcType="INTEGER"/>
        <result property="identity" column="identity" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>
    <select id="login" resultMap="BaseResultMap">
        select * from usertb
        where user_phone=#{userPhone} and password=#{password}
    </select>

    <select id="getUserPassword" resultType="String">
      select password from usertb
      where user_phone=#{phone}
    </select>

    <update id="updatePassword">
        update usertb
        set password=#{password}
        where user_phone=#{phone}
    </update>
</mapper>
