body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #f5f6fa;
}

html,
body {
    height: 100%;
}

/* card */
.r_card1 {
    /*距离前面一个card的高度*/
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    /*字体颜色*/
    color: #3b4552;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    /*每一个卡片的宽和高*/
    height: 240px;
    width: 700px;
    /*字体距离div的距离*/
    padding-left: 10px;
    padding-top: 10px;
    /*左浮动*/
    float: left;
    border-top: 2px solid #1D6FA3;


}

.r_card2 {
    /*距离前面一个card的高度*/
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: #3b4552;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    /*每一个卡片的宽和高*/
    height: 240px;
    width: 320px;
    /*字体距离div的距离*/
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    border-top: 2px solid #1D6FA3;
}

.table1 {
    table-layout: fixed;
    text-align: center;
    vertical-align: middle !important;
    margin-top: 10px;
    width: 680px;
    /*height: 160px;*/
    border-spacing: 0;
    font-size: 12px;
    font-weight: bold;
}

.table1-bordered {
    border: 1px solid #ddd;
}

.mySearch {
    font-size: 0;
}

.mySearch input {
    font-size: 10px;
    width: 90px;
    height: 25px;
    border: 1px solid #dddddd;
}

.mySearch input:focus {
    border: 1px solid #dddddd;
}

.mySearch button {
    margin-left: 10px;
    vertical-align: top;

}

.myPage {
    font-size: 0;
    margin-top: 10px;
    margin-left: 530px;
}

.myPage input {
    margin-left: 0px;
}

.angle_bottom {
    content: '';
    margin-left: 100px;
    margin-top: -8px;
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 0 3px 5px;
    border-color: transparent transparent #868e96;
    position: absolute;
    transform: rotate(180deg);
}

.angle_top {
    content: '';
    margin-left: 100px;
    margin-top: -14px;
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 0 3px 5px;
    border-color: transparent transparent #868e96;
    position: absolute;
}

.part4 {
    display: flex;
    height: 220px;
}

.part4_1 {
    flex: 1;
    width: 140px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 2px solid #1D6FA3;
    border-left: 1px solid rgba(221, 221, 221, 0.3);
    border-right: 1px solid rgba(221, 221, 221, 0.3);
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
    font-size: 12px;
    /*font-weight: bold;*/
}

.part4_2 {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 140px;
    height: 200px;
    border-top: 2px solid #1D6FA3;
    border-left: 1px solid rgba(221, 221, 221, 0.3);
    border-right: 1px solid rgba(221, 221, 221, 0.3);
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
    font-size: 12px;
    /*font-weight: bold;*/

}

.part4_3 {
    padding-top: 0px;
    margin-top: 0px;
}

/*中间的过度的横线*/
.link-bottom {
    margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
    /*height: 10%;*/
    border-bottom: 1px solid rgba(221, 221, 221, 0.3);
}
