/*实时数据检测页面对应的css*/
/*历史数据监测页面对应的css*/
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #ffffff;
    line-height: 1.5;
    font-size: 14px;
    overflow-x: hidden;
    background-color: #f5f6fa;
}

html,
body {
    height: 100%;
}

/* card */
.hd_card1 {
    /*距离前面一个card的高度*/
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    /*字体颜色*/
    color: #3b4552;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    /*每一个卡片的宽和高*/
    height: 505px;
    width: 1050px;
    /*字体距离div的距离*/
    padding-left: 10px;
    padding-top: 10px;
    /*左浮动*/
    float: left;
    border-top: 2px solid #1D6FA3;
}

.hd_card1 input {
    font-size: 10px;
    width: 90px;
    height: 25px;
    border: 1px solid #dddddd;
}

.hd_card1 input:focus {
    border: 1px solid #dddddd;
}

.hd_card1 button {
    margin-left: 10px;
    vertical-align: top;

}

.hd_card1 a {
    /*margin-left: 10px;*/
    /*vertical-align: top;*/
    color: #34baff;
}


/* card */
.hd_card2 {
    /*距离前面一个card的高度*/
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    /*字体颜色*/
    color: #3b4552;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.035);
    /*每一个卡片的宽和高*/
    height: 505px;
    width: 340px;
    /*字体距离div的距离*/
    padding-left: 10px;
    padding-top: 10px;
    /*左浮动*/
    float: right;
    border-top: 2px solid #1D6FA3;
}

.hd_drop_down_box {
    margin-left: 50px;
    /*color: aliceblue;*/
    width: 100px;
    height: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
    /*cursor: pointer;*/
}

.dynamicDisplay {
    /*margin: auto;*/
    vertical-align: top;
    display: inline-block;
    margin-left: 50px;
    width: 220px;
    height: 25px;
}

.dynamicDisplay_input {
    width: 50px;
}

.dynamicDisplay_detail {
    vertical-align: top;
    display: inline-block;
    /*height: 25px;*/
}

.hd_mySearch {
    /*margin: auto;*/
    /*height: 50px;*/
    font-size: 0;
}

.hd_mySearch input {
    margin-left: 30px;
    font-size: 10px;
    width: 90px;
    height: 25px;
    border: 1px solid #dddddd;
}

.hd_mySearch input:focus {
    border: 1px solid #dddddd;
}

.hd_mySearch button {
    margin-left: 10px;
    vertical-align: top;

}

.hd_mySearch span {
    width: 30px;
    height: 25px;
}