<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后端分页</title>
    <link href="/css/easyui.css" type="text/css" rel="stylesheet">
    <link href="/css/icon.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle1.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle2.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script>
        function hd_drop_down_event(value) {
            document.getElementById("hd_part1_1_1").style.display = "none";
            document.getElementById("hd_part1_1_2").style.display = "none";
            document.getElementById("hd_part1_1_3").style.display = "none";
            document.getElementById("hd_part1_1_4").style.display = "none";
            if (value === "weekQuery") {
                document.getElementById("hd_part1_1_1").style.display = "";
            } else if (value === "monthQuery") {
                document.getElementById("hd_part1_1_2").style.display = "";
            } else if (value === "yearQuery") {
                document.getElementById("hd_part1_1_3").style.display = "";
            } else if (value === "ownQuery") {
                document.getElementById("hd_part1_1_4").style.display = "";

            }
        }
    </script>
</head>
<body>
<!--第一个区域，数据区域参数对比-->
<div class="hd_card1" id="part1">
    <div class="hd_mySearch" id="part1_1">
        <input type="text" placeholder="请输入要对比的区域,用逗号分割，例如: 1,2,3" id="searchText_rc" style="width: 220px">
        <select id="hd_select" class="hd_drop_down_box"
                onclick="hd_drop_down_event(this.options[this.selectedIndex].value);">
            <option disabled="disabled" selected="selected">查询类型</option>
            <option value="weekQuery">按周查询</option>
            <option value="monthQuery">按月查询</option>
            <option value="yearQuery">按年查询</option>
            <option value="ownQuery">自定义查询</option>
        </select>
        <div class="dynamicDisplay">
            <div id="hd_part1_1_1" style="display: none;padding-left: 40px">
                <h6 style="display: inline">近</h6>
                <input id="hd_part1_1_1_input" style="display: inline;width: 50px;margin-left: 5px" placeholder='输入数字'/>
                <h6 style="display: inline">&nbsp;周</h6>
            </div>
            <div id="hd_part1_1_2" style="display: none;padding-left: 40px">
                <h6 style="display: inline">近</h6>
                <input id="hd_part1_1_2_input" style="display: inline;width: 50px;margin-left: 5px" placeholder='输入数字'/>
                <h6 style="display: inline">&nbsp;月</h6>
            </div>
            <div id="hd_part1_1_3" style="display: none;padding-left: 40px">
                <h6 style="display: inline">近</h6>
                <input id="hd_part1_1_3_input" style="display: inline;width: 50px;margin-left: 5px" placeholder='输入数字'/>
                <h6 style="display: inline">&nbsp;年</h6>
            </div>

            <div class="dynamicDisplay_detail" id="hd_part1_1_4" style="display:none;">
                <input class="js-datepicker " id="hd_part1_1_4_startTime"
                       name="example-datepicker" placeholder="开始日期" value=""
                       data-date-format="yyyy-mm-dd"
                       style="width: 70px;text-align: center;margin-left: 20px"/>
                <input placeholder="至"
                       style="width: 15px;background-color: #f9fafb;border-left-color:#f9fafb ;border-right-color: #f9fafb;margin-left: 0px"
                       disabled="disabled"/>
                <input class="js-datepicker " id="hd_part1_1_4_endTime"
                       name="example-datepicker" placeholder="结束日期" value="" data-date-format="yyyy-mm-dd"
                       style="width: 70px;text-align: center;margin-left: 0"/>
            </div>
        </div>
        <button class="btn btn-info btn-xs" type="button" onclick="searchAllPart_rc()">查询</button>
    </div>
    <!--<div id="part1_2_rc" style="height: 440px;width: 700px;">
    </div>-->
</div>
</body>

</html>
