<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后端分页</title>
    <link href="/css/easyui.css" type="text/css" rel="stylesheet">
    <link href="/css/icon.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle1.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle2.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div class="hd_card1" id="part1">
    <div class="mySearch">
        <input type="text" placeholder="输入区域号" id="searchText">
        <button class="btn btn-info btn-xs" type="button" onclick="searchAllPart()">查询</button>
    </div>
    <div id="hd_part1_2" style="height: 210px;width: 700px;">
    </div>
</div>
<div class="hd_card2" id="part2">
    <div id="hd_part22" style="height: 220px;width: 320px;">
    </div>
</div>
</body>

</html>
