<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后端分页</title>
    <link href="/css/icon.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle1.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle2.css" type="text/css" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <!--日期选择插件-->
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link href="/css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <!--时间选择器-->
    <script type="text/javascript" src="/js/zh-cn.js"></script>
    <!--日期选择器-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
    <script></script>
    <script>
        $(function () {
            var regionMes = $.cookie('regionMes');
            var id = JSON.parse(regionMes).id;
            $("#input1").attr('value', JSON.parse(regionMes).zoneName);
            $("#input2").attr('value', JSON.parse(regionMes).brief);
            $("#input3").attr('value', JSON.parse(regionMes).phone);
            $("#input4").attr('value', JSON.parse(regionMes).email);
        });

        function input_clear() {
            $("#input1").val("");
            $("#input2").val("");
            $("#input3").val("");
            $("#input4").val("");
        }

        function submitUpdateData() {
            var regionMes = $.cookie('regionMes');
            var id = JSON.parse(regionMes).id;
            var zoneName = $("#input1").val();
            var brief = $("#input2").val();
            var phone = $("#input3").val();
            var email = $("#input4").val();
            $.ajax({
                url: "/modifyZoneMessage/updateRegionMes.do",
                type: "post",
                dataType: "json",
                data: {"id": id, "zoneName": zoneName, "brief": brief, "phone": phone, "email": email},
                success: function (data) {
                    showResult(data);
                },
                error: function (msg) {
                    alert("ajax连接异常：" + msg);
                }
            });

        }

        function showResult(data) {
            if (data >= 0) {
                window.confirm("更改成功!");
            } else {
                window.confirm("更改失败!");
            }
            var url = '/modifyZoneMessage/queryAll.do';
            var param = {};
            $.get(url, param, function (result) {
                $("#part").html(result);// 将返回的字符串渲染为html
            });
        }
    </script>

</head>
<body>
<div class="tms_card1" id="part1">
    <div class="mzmu_div0">
        <div>
            <div class="mzmu_div1">
                <h6 style="display: inline">区域名字</h6>
            </div>
            <input class="mzmu_input1" id="input1" placeholder="" type="text"/>
        </div>
        <div>
            <div class="mzmu_div2">
                <h6 style="display: inline">区域简介</h6>
            </div>
            <input class="mzmu_input2" id="input2" placeholder="" type="text"/>
        </div>
        <div>
            <div class="mzmu_div2">
                <h6 style="display: inline">负责人手机号</h6>
            </div>
            <input class="mzmu_input2" id="input3" placeholder="" type="text"/>
        </div>
        <div>
            <div class="mzmu_div2">
                <h6 style="display: inline">负责人邮箱</h6>
            </div>
            <input class="mzmu_input2" id="input4" placeholder="" type="text"/>
        </div>
        <div class="mzmu_div3">
            <button class="btn btn-secondary btn-sm" type="button" onclick="input_clear()"
                    style="margin-left: 150px">重置
            </button>
            <button class="btn btn-info btn-sm" type="button" onclick="submitUpdateData()"
                    style="margin-left:200px">提交
            </button>

        </div>
    </div>


</div>

</body>
</html>