<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后端分页</title>
    <link href="/css/easyui.css" type="text/css" rel="stylesheet">
    <link href="/css/icon.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/js/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div class="r_card1">
    <div class="r_card1-body">
        <h4>折线图</h4>
    </div>
</div>
<div class="r_card2">
    <div class="r_card1-body">
        <h4>数据对比</h4>
    </div>
</div>
<div class="r_card1">
    <table class="table1 table-bordered">
        <tr>
            <td width="75">区域号</td>
            <td width="75">水温</td>
            <td width="75">PH</td>
            <td width="75">耗氧量</td>
            <td width="75">氨氮</td>
            <td width="75">溶解氧</td>
            <td width="75">电导率</td>
            <td width="75">浊度</td>
            <td width="79">发送时间</td>
        </tr>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>125</td>
            <td>36.00</td>
            <td>36.00</td>
            <td>36.00</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="r_card2">
    <div class="r_card1-body">
        <h4>数据分析</h4>
    </div>
</div>
</body>

</html>