<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后端分页</title>
    <link href="/css/icon.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle1.css" type="text/css" rel="stylesheet">
    <link href="/css/myStyle2.css" type="text/css" rel="stylesheet">
    <link href="/css/materialdesignicons.min.css" rel="stylesheet">
    <!--时间选择插件-->
    <!--日期选择插件-->
    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
    <link href="/css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <!--时间选择器-->
    <script type="text/javascript" src="/js/zh-cn.js"></script>
    <!--日期选择器-->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script>
        function test1() {// url  请求的页面url
            var url = '/statisticsDataQuery/queryAll.do';
            $.get(url, function (result) {
                $("#part").html(result);// 将返回的字符串渲染为html
            });
        }

        function test2(hasPreviousPageParam, prePageParam) {
            console.log(hasPreviousPageParam, prePageParam);
            var param;
            if (hasPreviousPageParam === "true") {
                param = {
                    pageNum: prePageParam
                };
            } else {
                param = {
                    pageNum: 1
                };
            }
            var url = '/statisticsDataQuery/queryAll.do';
            $.get(url, param, function (data) {
                $("#part").html(data);// 将返回的字符串渲染为html
            });
        }

        function test3(hasNextPage, nextPage, pages) {
            var param;
            if (hasNextPage === "true") {
                param = {
                    pageNum: nextPage
                };
            } else {
                param = {
                    pageNum: pages
                }
            }

            var url = '/statisticsDataQuery/queryAll.do';
            $.get(url, param, function (data) {
                $("#part").html(data);// 将返回的字符串渲染为html
            });
        }

        function test4(pagesParam) {
            var param = {
                pageNum: pagesParam
            };
            var url = '/statisticsDataQuery/queryAll.do';
            $.get(url, param, function (data) {
                //  ddq_fillTable(data);
                $("#part").html(data);// 将返回的字符串渲染为html
                // window.location.reload(data);
            });
        }
    </script>
</head>
<body>
<div id="part">

    <div class="hd_card1" id="part1">
        <div align="center">
            <table class="table table-bordered" id="ddq_tab">
                <tr>
                    <th>id</th>
                    <th>区域号</th>
                    <th>最大值</th>
                    <th>最小值</th>
                    <th>平均值</th>
                    <th>累加值</th>
                    <th>发送时间</th>
                </tr>
                <tr th:each="propertyDataStatistics:${pageInfo.list}">
                    <td th:text="${propertyDataStatistics.id}"></td>
                    <td th:text="${propertyDataStatistics.zoneId}"></td>
                    <td th:text="${propertyDataStatistics.maxData}"></td>
                    <td th:text="${propertyDataStatistics.minData}"></td>
                    <td th:text="${propertyDataStatistics.avgData}"></td>
                    <td th:text="${propertyDataStatistics.sumData}"></td>
                    <td th:text="${#dates.format(propertyDataStatistics.sendTime,'yyyy-MM-dd')}"></td>
                </tr>
            </table>
             <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span
                     th:text="${pageInfo.total}"></span> 条记录</p>
             <a href="javascript:void(0);" onclick="test1()" id="sy1">首页</a>
             <a th:onclick="'javascript:test2(\''+${pageInfo.hasPreviousPage}+'\',\''+${pageInfo.prePage}+'\')'"
                id="sy2">上一页</a>
             <a th:onclick="'javascript:test3(\''+${pageInfo.hasNextPage}+'\',\''+${pageInfo.nextPage}+'\',\''+${pageInfo.pages}+'\')'"
                id="sy3">下一页</a>
             <a th:onclick="'javascript:test4(\''+${pageInfo.pages}+'\')'" id="sy4">尾页</a>
        </div>
    </div>
</div>

</body>
</html>